<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>101001001</integer>
			<key>endNumber0</key>
			<real>101001031</real>
			<key>startNumber1</key>
			<real>101002001</real>
			<key>endNumber1</key>
			<real>101002025</real>
			<key>title</key>
			<string>创世纪1:1-2:25</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>201001001</integer>
			<key>endNumber0</key>
			<real>201001025</real>
			<key>startNumber1</key>
			<integer>201002001</integer>
			<key>endNumber1</key>
			<real>201002012</real>
			<key>title</key>
			<string>马太福音1:1-2:12</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>119001001</integer>
			<key>endNumber0</key>
			<integer>119001006</integer>
			<key>title</key>
			<string>诗篇1:1-6</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>120001001</integer>
			<key>endNumber0</key>
			<integer>120001006</integer>
			<key>title</key>
			<string>箴言1:1-6</string>
		</dict>
	</array>
</array>
</plist>
