<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>101001001</integer>
			<key>endNumber0</key>
			<real>101001031</real>
			<key>startNumber1</key>
			<real>101002001</real>
			<key>endNumber1</key>
			<real>101002025</real>
			<key>title</key>
			<string>创世纪1:1-2:25</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>201001001</integer>
			<key>endNumber0</key>
			<real>201001025</real>
			<key>startNumber1</key>
			<integer>201002001</integer>
			<key>endNumber1</key>
			<real>201002012</real>
			<key>title</key>
			<string>马太福音1:1-2:12</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>119001001</integer>
			<key>endNumber0</key>
			<integer>119001006</integer>
			<key>title</key>
			<string>诗篇1:1-6</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<integer>120001001</integer>
			<key>endNumber0</key>
			<integer>120001006</integer>
			<key>title</key>
			<string>箴言1:1-6</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>101003001</real>
			<key>endNumber0</key>
			<real>101003024</real>
			<key>startNumber1</key>
			<real>101004001</real>
			<key>endNumber1</key>
			<real>101004026</real>
			<key>title</key>
			<string>创世纪3:1-4:26</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>201002013</real>
			<key>endNumber0</key>
			<real>201002023</real>
			<key>startNumber1</key>
			<real>201003001</real>
			<key>endNumber1</key>
			<real>201003006</real>
			<key>title</key>
			<string>马太福音2:13-3:6</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>119002001</real>
			<key>endNumber0</key>
			<real>119002012</real>
			<key>title</key>
			<string>诗篇2:1-12</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>120001007</real>
			<key>endNumber0</key>
			<real>120001009</real>
			<key>title</key>
			<string>箴言1:7-9</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>101005001</real>
			<key>endNumber0</key>
			<real>101005032</real>
			<key>startNumber1</key>
			<real>101006001</real>
			<key>endNumber1</key>
			<real>101006022</real>
			<key>startNumber2</key>
			<integer>101007001</integer>
			<key>endNumber2</key>
			<integer>101007024</integer>
			<key>title</key>
			<string>创世纪5:1-7:24</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>201003007</real>
			<key>endNumber0</key>
			<real>201003017</real>
			<key>startNumber1</key>
			<real>201004001</real>
			<key>endNumber1</key>
			<real>201004011</real>
			<key>title</key>
			<string>马太福音3:7-4:11</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>119003001</real>
			<key>endNumber0</key>
			<real>119003008</real>
			<key>title</key>
			<string>诗篇3:1-8</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>120001010</real>
			<key>endNumber0</key>
			<real>120001019</real>
			<key>title</key>
			<string>箴言1:10-19</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>101008001</real>
			<key>endNumber0</key>
			<real>101008022</real>
			<key>startNumber1</key>
			<real>101009001</real>
			<key>endNumber1</key>
			<real>101009029</real>
			<key>startNumber2</key>
			<integer>101010001</integer>
			<key>endNumber2</key>
			<integer>101010032</integer>
			<key>title</key>
			<string>创世纪8:1-10:32</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>201004012</real>
			<key>endNumber0</key>
			<real>201004025</real>
			<key>title</key>
			<string>马太福音4:12-25</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>119004001</real>
			<key>endNumber0</key>
			<real>119004008</real>
			<key>title</key>
			<string>诗篇4:1-8</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>120001020</real>
			<key>endNumber0</key>
			<real>120001023</real>
			<key>title</key>
			<string>箴言1:20-23</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>101011001</real>
			<key>endNumber0</key>
			<real>101011032</real>
			<key>startNumber1</key>
			<real>101012001</real>
			<key>endNumber1</key>
			<real>101012020</real>
			<key>startNumber2</key>
			<integer>101013001</integer>
			<key>endNumber2</key>
			<integer>101013004</integer>
			<key>title</key>
			<string>创世纪11:1-13:4</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>201005001</real>
			<key>endNumber0</key>
			<real>201005026</real>
			<key>title</key>
			<string>马太福音5:1-26</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>119005001</real>
			<key>endNumber0</key>
			<real>119005012</real>
			<key>title</key>
			<string>诗篇5:1-12</string>
		</dict>
		<dict>
			<key>isRead</key>
			<false/>
			<key>startNumber0</key>
			<real>120001024</real>
			<key>endNumber0</key>
			<real>120001028</real>
			<key>title</key>
			<string>箴言1:24-28</string>
		</dict>
	</array>
</array>
</plist>
