<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>image_sel</key>
			<string>reading_sel_tabbar.png</string>
			<key>title</key>
			<string>读经</string>
			<key>image</key>
			<string>reading_tabbar.png</string>
		</dict>
		<dict>
			<key>image_sel</key>
			<string>collection_sel_tabbar.png</string>
			<key>title</key>
			<string>收藏</string>
			<key>image</key>
			<string>collection_tabbar.png</string>
		</dict>
		<dict>
			<key>image_sel</key>
			<string>search_sel_tabbar.png</string>
			<key>title</key>
			<string>搜索</string>
			<key>image</key>
			<string>search_tabbar.png</string>
		</dict>
		<dict>
			<key>image_sel</key>
			<string>setting_sel_tabbar.png</string>
			<key>title</key>
			<string>设置</string>
			<key>image</key>
			<string>setting_tabbar.png</string>
		</dict>
	</array>
</dict>
</plist>
